body {
    column-count: 2;
    column-gap: 20px;
}

.question-title {
    background: #CCC;
    margin: 10px 0;
}

#question-verify {
    display: none;
}

.question-body {
    counter-reset: my-alternative-counter;
}
.question-options {
    margin-bottom: 50px;
}
.question-options input[type=radio] + span {
    height: auto;
}
.question-options img {
    max-width: 100%;
    height: auto;

    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}

.question-options input[type=radio] + span::before {
	counter-increment: my-alternative-counter;
	content: counter(my-alternative-counter, upper-alpha) ") ";
	border: transparent !important;
    background: transparent !important;
    margin: 0;
}

.question-options input[type=radio] + span::after{
	border: transparent !important;
	background: transparent !important;
}

@media (max-width: 600px) {
    body {
        column-count: 1;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    body {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    body {
        column-count: 3;
    }
}
