.question-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.question-list .question {
    padding-bottom: 10px;
}

.question-list .question + .question {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}

.question-list .question .question-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
}

.question-list .question .question-body > img {
    max-width: 200px;
    margin-right: 10px;;
}

.question-list .question .question-body > .content {
    flex: 1;
}

.question-list .question a.question-title {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.87);
}

.question-list .question a.tag {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
